<div class="cabecera">
  <h2>COLORES</h2>
</div>
<div *ngIf="mostrarColores">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile
      *ngFor="
        let color of colors
          | paginate
            : {
                itemsPerPage: dataPaginacion.per_page,
                currentPage: dataPaginacion.page,
                totalItems: dataPaginacion.total,
                id: 'first'
              }
      "
      (click)="obtenerColor(color)"
    >
      <div class="divGrid">
        <label>{{ color.year }}</label>
      </div>
      <div>
        <label>{{ color.name }}</label>
        <br />
        <label>{{ color.color }}</label>
      </div>
      <div class="divGrid3">
        <label class="label_pantone_value">{{ color.pantone_value }}</label>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <pagination-controls
    id="first"
    (pageChange)="siguiente($event)"
    previousLabel="Anterior"
    nextLabel="Siguiente"
  >
  </pagination-controls>
</div>
<div *ngIf="!mostrarColores">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      COPIADO
    </mat-grid-tile>
  </mat-grid-list>
  <pagination-controls
    id="2"
    (pageChange)="volver()"
    previousLabel="Anterior"
    nextLabel="volver"
  >
  </pagination-controls>
</div>

<!--

    <mat-card class="example-card" *ngFor="let color of colors">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{ color.year }}</mat-card-title>
    <mat-card-subtitle>{{ color.name }}</mat-card-subtitle>
    <mat-card-subtitle>{{ color.color }}</mat-card-subtitle>
    <mat-card-subtitle>{{ color.pantone_value }}</mat-card-subtitle>
  </mat-card-header>

      <mat-card-content> </mat-card-content>
      <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>
  -->
