mat-grid-tile {
  background: #45b5aa;
  border-radius: 15px;
}
mat-grid-list {
  margin-top: 2px;
  width: 100%;
}
.cabecera {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.divGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-left: 10px;
}
.divGrid3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.label_pantone_value {
  align-self: flex-end;
  margin-right: 10px;
}
mat-grid-list :hover {
}
